<h1>Change Password</h1>
<form method="post" action="/user/changepassword">
    email:<input type="email" name="Email" id="Email">
    current password:<input type="password" name="UserPassword" id="UserPassword">
    new password:<input type="password" name="NewPassword" id="NewPassword">
    <button type="submit">Change</button>
</form>