<h1>create project</h1>
<br>
<form id="frmCreateProject" method="post" action="/project/new">
Project Name:<input type="text" id="ProjectName" name="ProjectName"><br>

    <br>Task:<input type="text" name="Task" id="Task"><br>
     Contributors:<input type="text" name="Contributors" id="Contributors">
    <button type="submit">Create</button>
</form>