<h1>Register</h1>
<br>
<form id="frmUserProfile" method="post" action="">
    Full name:<input type="text" id="FullName" name="FullName"><br>
    Email:<input type="email" name="Email" id="Email">
    Password:<input type="password" name="Password" id="Password">
    <br><button type="submit">Join</button>
</form>